#map{
	position: absolute;
	float: right;
	top: 0;
	left: 21%;
	right: 0;
	bottom: 0; 
}

.list{
	width: 20%;
	float: left;
}

.item{
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

button{
	width: 100%;
	padding: 1em;
	font-size: 1.2em;
}

.description{
	display: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

#menu{
	position: fixed;
}

#banner{
	width: 100%;
	padding-top: 10em;
	padding-bottom: 10em;
	vertical-align: middle;
	background-image: url(../img/bg.jpg);
}

.wrapper
{
	padding-top: 5em;
	padding-bottom: 3em;
	vertical-align: middle;
}
	.wrapper img{
		height: 5em;
	}
	.wrapper #refs a{
		display: block;
	}